<div class="row-fluid">
	<div class="span8">
		<!--Body content-->
		<div class="page-header">
			<h1>Empleos en tecnologias de informacion <small>Colombia</small></h1>
		</div>
		<form class="well form-search">
			<div class="input-prepend">
				<input type="text" class="input-xlarge search-query" placeholder="Tecnologia, ej. java"><span class="add-on"><i class="icon-search"></i></span>
			</div>
			<div class="input-prepend">
				<input type="text" class="input-xlarge search-query" placeholder="Localizacion, ej. bogota"><span class="add-on"><i class="icon-search"></i></span>
			</div>
			<button type="submit" class="btn btn-primary">
				Buscar
			</button>
		</form>
		<p>
			<span class="label label-info">Palabra clave</span>
			<span><a href="">Java</a></span>&nbsp;- <span><a href="">Ruby</a></span>&nbsp;- <span><a href="">.Net</a></span>&nbsp;- <span><a href="">SQL Server</a></span>&nbsp;- <span><a href="">Oracle</a></span>&nbsp;- <span><a href="">Scrum Master</a></span>
		</p>
		<p>
			<span class="label label-info">Localizacion</span>
			<span><a href="">Bogota</a></span>&nbsp;- <span><a href="">Medellin</a></span>&nbsp;- <span><a href="">Cali</a></span>&nbsp;- <span><a href="">Barranquilla</a></span>&nbsp;- <span><a href="">Santander</a></span>
		</p>
		<div class="row-fluid">
			<div class="span6">
				<!-- Ofertas de empleo urgentes -->
				<div class="page-header">
					<h2><i class="icon-fire"></i> Se requiere urgente</h2>
				</div>
				<%= jobs(@presenter.last_jobs) %>
				<p class="pull-right">
					<a href=""> Mas ofertas urgentes...</a>
				</p>
			</div>
			<div class="span6">
				<!-- Ultimas ofertas de empleo -->
				<div class="page-header">
					<h2><i class="icon-time"></i> Ultimas ofertas de empleo</h2>
				</div>
				<%= jobs(@presenter.urgent_jobs) %>
				<p class="pull-right">
					<a href=""> Mas ofertas de empleo...</a>
				</p>
			</div>
		</div>
	</div>
	<div class="span4">
		<!--Sidebar content-->
		<div>
			<!--Buscadores de talentos -->
			<h2><i class="icon-bullhorn"></i> Buscadores de talentos!</h2>
			<p>
				<form >
					<span class="help-block">¿Está buscando un desarrollador de software? Bueno, tú has venido al lugar correcto.</span>
					<%= link_to "Publicar oferta de trabajo", new_job_path, :class => "btn btn-info"%>
				</form>
			</p>
		</div>
		<!-- Mantengase actualizado -->
		<div class="well" style="padding: 8px 0;">
			<ul class="nav nav-list">
				<li class="nav-header">
					Siganos en las redes sociales
				</li>
				<li>
					<a href="#"><i class="icon-twitter"></i> Twitter</a>
				</li>
				<li>
					<a href="#"><i class="icon-facebook"></i> Facebook</a>
				</li>
				<li>
					<a href="#"><i class="icon-linkedin"></i> Linkedin</a>
				</li>
				<li>
					<a href="#"><i class="icon-google-plus"></i> Google plus</a>
				</li>
			</ul>
		</div>
		<div>
			<!-- Empresas destacadas -->
			<h2><i class="icon-thumbs-up"></i> Empresas destacadas</h2>
			<p>
				With a bit of extra markup, it's possible to add any kind of HTML content like headings, paragraphs, or buttons into thumbnails.
			</p>
			<ul class="thumbnails">
				<li class="span12">
					<div class="thumbnail">
						<img src="http://placehold.it/160x120" alt="">
						<div class="caption">
							<h5>Google</h5>
							<p>
								Googlers disfrutan de la libertad para crear la próxima generación de tecnologías web en un ambiente diseñado para fomentar la colaboración, la creatividad, la salud y la felicidad.
							</p>
							<p >
								<a href="#" >Ver ofertas de google...</a>
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>