<%- model_class = @contact.class -%>
<div class="page-header">
  <h2>Editar informacion de contacto</h2>
</div>
<div class="alert alert-warning">
	<strong><i class="icon-warning-sign"></i> Aviso Legal!</strong>
	Su información no será suministrada o compartida con ninguna persona, negocio u organización.
</div>
<%= render :partial => 'form' %>
